@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

/*-----header------*/
header {
    background-color: #6495ED;
    color: #FAEBD7;
    padding: 2rem;
   
}
h1 { font-family: 'Lora', serif; }

header h1 {
    text-align: right;
    margin-right: 2%;
    font-size: 23px;
    
}
header h1 a {
    color: #FAEBD7;
}
a {
    text-decoration: none;
}
/*-----navigation-----*/
nav ul {
    list-style-type: none;
    text-align: right;
    margin-right: 2%;
}

nav ul li a {
    font-family: Helvetica, Arial, sans-serif;
    color: #FAEBD7;
}
ul li:first-child, li:nth-child(2) {
    padding-bottom: 15px;
}
nav ul li a:hover { 
    color: white;
    text-decoration: underline;
}
nav ul li.active a {
    color: #deb887;
}
hr { width: 100%; }
/*-------main-------*/
main {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #FAEBD7;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
}
article {
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    width: 12rem;
    padding: 40px;  
}
article:nth-child(2) {
    margin-top: 2rem;
}