@media only screen and (min-width: 35rem) {

/*--------header-------*/
header img {width: 100px;}
header h1 {font-size: 2rem;}
.header {display: flex; margin-right: 3rem;}

/*-------navigation------*/
nav ul {margin-left: 2%;}
nav ul li {float: left;}
nav ul li a {padding: .5rem 1rem;}
nav button {display: none;}
nav ul.hide {display: block;}

/*-------main------*/
.midsect {
    grid-template-columns: 1fr 1fr 1fr;
}
.bottomsect {
    grid-template-columns: 1fr 1fr;
}
img {
    width:auto;
}
#about {
    margin-right: 10%;
}
#events {
    width: 100%;
}
section img {
    width: 100%;
}

} /*--------end medium---------*/