@media only screen and (min-width: 35rem) {

/*--------header-------*/
header img {width: 100px;}
header h1 {font-size: 2rem;}
.header {display: flex; margin-right: 3rem;}

/*-------navigation------*/
nav ul {margin-left: 2%;}
nav ul li {float: left;}
nav ul li a {padding: .5rem 1rem;}
nav button {display: none;}
nav ul.hide {display: block;}

/*-------main------*/
.midsect {
    grid-template-columns: 1fr 1fr;
}

img {
    width:auto;
}
#about {
    margin-right: 10%;
}
#events {
    width: 100%;
}
#events ul li {
    font-size: 20px;
}
section img {
    width: 95%;
    height: 93%;
}
#sideimg {
    float: right;
    margin-right: 15px;
    width: 40%;
}
#dentalimg {
    margin-top: -15px;
}
.bottomsect {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}
#business1 {
    width: 100%;
}
#business1 ul {
    columns: 2;
    margin-top: 10px;
    font-size: 20px;
}
#pefooter {
    grid-template-columns: 2fr 1fr;
}

} /*--------end medium---------*/