@media only screen and (min-width: 35rem) {

/*--------header-------*/
header img {width: 100px;}
header h1 {font-size: 2rem;}

/*-------navigation------*/
nav ul {margin-left: 2%;}
nav ul li {float: left;}




} /*--------end medium---------*/