/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    word-wrap: break-word;
}

/*------Body--------*/
body {
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
    
}

/*-----header------*/
header {background-color: #3B4A54; color: #FFFFFF;
    padding: 1.5rem .9%;
    
}

header img {
    float: left; margin-right: 3px; width: 50px; 
}
header h1 {font-size: 1.3rem;}
.header, .nav {max-width: 64rem; margin: auto;}

/*-----navigation-----*/
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}
.hide {display: none;}
nav {background-color: #889CAA;}
nav ul {list-style-type: none; padding: 0; margin: 0;}
nav ul li a {
    display: block;
    color: #FFFFFF;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li a:hover {
    background-color: #3B4A54; 
    color: #FFFFFF;
   
}
nav ul li.active a {
    background-color: #080B0C;
    color: #FFFFFF;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    font-size: 2rem;
} 

/*-------main-------*/
main {
    min-height: 10rem;
    background-color: #c4ced5;
    color: #080B0C;
    margin-top: 20px;
}

div#alert {
    background-color: rgb(245, 61, 61); 
    color: black; 
    padding: .5rem;
}
div.showme {display: block;}
div.hideme {display: none;}

.heroimg img {display: block; width: 100%;}

img {
    width: 100%;
}

#about {
    margin-left: 15px;
    margin-right: 20px;
}

#join {
    margin: 15px;
}

#weather {
    margin: 15px;
}
section img {
    margin: 15px;
    width: 90%;
}

#events {
   
    padding: 15px;
    width: 90%;
    margin-left: 15px;
   
}
.midsect {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
}
.midsect img {
    border: 1px solid black;
}
.bottomsect {
    display: grid;
    grid-template-columns: 1fr;
}
#business1 {
    margin-top: 7px;
    margin: 15px;
}
.bottomsect img {
    border: 1px solid black;
    margin-top: 20px;
}
p {
    margin-top: 0;
}
#contact {
    margin: 15px;
    margin-top: 5rem;
}

/*-----city------*/
.pheroimg img {display: block; width: 100%;}



/*------join-----*/
.button {
    padding: .5rem;
}


/*------directory-------*/
.directory ul {
    list-style-type: none;
}

/*-------contact-------*/

form label.top, form div {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}
/*-------thankyou1-------*/
#th1 {
    margin-top: 1rem;
}

/*-----footer-----*/
footer {
    background-color: #3B4A54;
    color: #FFFFFF;
    padding: .75rem 10%;
    text-align: center;
}


/*-----clearfix: Force to not collapse----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}