img {
    width: "300px";
    height: "320px";
}
body {
    background-color: white;
    font-family: Lato, script;
    font-size: 18px;
    
}
h1 {
    background-color: rgb(255, 0, 76);
    border-radius: 200px;
}
footer {
    background-color:rgb(255, 0, 76);
    border-radius: 30px;
}
