
header {
    background-color:rgb(6, 146, 69);
    padding: 5%; 
    border-radius: 6%;
    margin-left: 1%;
    
}

h3 {
    color:rgb(7, 206, 96);
    margin: 3%;
}

h4 {
    background-color: rgb(7, 206, 96);;
    color: white;
    padding: 2%;
    border-radius: 3%;
    
}
body {
    
    font-family: 'Poppins', sans-serif;
}

.principles {
    display: grid;
    grid-template-columns: 1fr;
    font-size:1em;
    
}


footer {
    background-color:rgb(6, 146, 69);
    padding: 6%;
    border-radius: 10%;
    margin-left: .5%;
}