
header {
    background-color:rgb(2, 92, 43);
    padding: 5%; 
    
    margin-left: 1%;
    
}

header h1 {
    color: #eee;
}
header h2 {
    color: orange;

}
main h1 {
    color:rgb(17, 17, 17);
    margin: 3%;
}

main h2 {
    background-color: rgb(7, 206, 96);;
    color: rgb(19, 18, 18);
    padding: 2%;
    border-radius: 3%;
    
}
body { 
    font-family: 'Poppins', sans-serif;
    max-width: 80%;
    margin-left: 10%;
}

.principles {
    display: grid;
    grid-template-columns: 1fr;
    font-size: .8em;
    
}

section {
    margin: 1px;
    padding: 5px;
}

p {
    margin: 4px;
}

#rep {
    margin-left: 5px;
}

footer {
    background-color:rgb(2, 92, 43);
    padding: 6%;
    
    margin-left: .5%;
    color: #eee;
}