/*----Site color scheme----*/

// color palette for space theme

$color-1: #2F4858; // Dark gray blue
$color-2:#86BBD8; // Light blue
$color-3: #33658A; // Medium gray blue
$color-4: #F6AE2D; // Light orange
$color-5:  #F26419; // Dark orange



body {
    /*--page background--*/
    background-color: $color-1;
  }


  header {
    background-color: $color-5;
  }

  .cd-main-nav {
    /*--main navigation background color--*/
    background: $color-4;
  
    li a {
      color: $color-5;
      border-color: lighten($color-1, 20%);
    }

  //review/study selector
    @include MQ(M) {
      li a {
        color: lighten($color-1, 20%);
  
        &.selected {
          color: $color-5;
          box-shadow: 0 2px 0 $color-1;
        }
  
        &:hover {
          color: $color-4;
        }
      }
    }
  }

  // fonts
//$primary-font: 
//$secondary-font: 