
div.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    background-color: brown;
    
}

h1 {
    margin: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: brown;
}
main section {
    margin-left: 25px;
}
section img {
    width: ;
}






@media only screen and (min-width: 35rem) {
div.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}




}





@media only screen and (min-width: 64rem) {
    div.cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        
    }

    img{
        
    }
    

}